__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.env
.idea/
.vscode/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# # Environment-specific Terraform values
# terraform/terraform.tfvars